<mytours-flight-filter *ngIf="router.url === '/flight-1'"></mytours-flight-filter>
<mytours-search-for-flight *ngIf="router.url === '/flight-1'"></mytours-search-for-flight>
<div class="container-fluid search-result pb-5 bg-white">
  <div class="container">
    <label class="main-title">Flight</label>
    <div #myDiv class="flight-destination row m-0" [ngClass]="{'cursor-pointer':currentFlight!='departure'}" (click)="myDiv.classList.contains('cursor-pointer') ? choseSelf($event) : null">
      <div class="flight-destination-detail" [ngClass]="currentFlight=='departure' ? 'col-9' : 'col-12'">
        <label class="main-label flight-destination-label">Choose Departure Flight</label>
        <div class="flight-destination-sublabel">Thu, 08 May 2018</div>
        <div class="flight-destination-sublabel">jakarta -> Bali</div>
      </div>
      <div [ngClass]="currentFlight=='departure' ? 'col-3' : 'd-none'">
        <button class="btn" (click)="toggleOtherDate($event)">See other date</button>
        
      </div>
    </div>
    <div class="seeOtherDateContainer" [ngClass]="isShowMoreDate && this.currentFlight=='departure' ? 'd-flex' : 'd-none'">
      <button class="slick-arrow">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
      </button>
      <ngx-slick-carousel class="seeOtherDateSlide" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="other-date-list {{slide.status}}">
            <div class="date">{{slide.date}}</div>
            <div class="price-on-date">Rp. {{slide.price}}</div>
          </div>
        </div>
      </ngx-slick-carousel>
      <button class="slick-arrow">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
      </button>
    </div>
    <div class="result-container" [ngClass]="{'d-none':currentFlight!='departure'}">
      <div class="filter-group">
        <div class="input-grp">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="otherDateBtn">
            See other date
          </button>
        </div>
        <div class="filter-group-right">
          <label class="filter-label">Filter:</label>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" [popover]="popTransit" placement="bottom" [outsideClick]="true">
              Transit
            </button>
            <ng-template #popTransit>
                <label class="label-popup d-block">No. of Transit</label>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="direct">
                  <label for="direct">Direct</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="1transit">
                  <label for="1transit">1 Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="2more">
                  <label for="2more">2+ Transit</label>
                </div>
                <label class="label-popup d-block">Transit Duration</label>
                <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
                <div id="range"></div>
                <label class="label-popup d-block">Transit Point</label>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="direct">
                  <label>Direct</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="1transit">
                  <label>1 Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="2more">
                  <label>2+ Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="direct">
                  <label>Direct</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="1transit">
                  <label>1 Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="2more">
                  <label>2+ Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="direct">
                  <label>Direct</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="1transit">
                  <label>1 Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="2more">
                  <label>2+ Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="direct">
                  <label>Direct</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="1transit">
                  <label>1 Transit</label>
                </div>
                <div class="checkgroup d-block">
                  <input type="checkbox" id="2more">
                  <label>2+ Transit</label>
                </div>
            </ng-template>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="timeBtn" [popover]="popTime" placement="bottom" [outsideClick]="true">
              Time
            </button>
            <ng-template #popTime>
              <div class="row m-0 p-0">
                <div class="col-6 p-0">
                  <label class="label-popup d-block">Departure Time</label>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-1">
                    <label for="departure-1">00:00 - 06:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-2">
                    <label for="departure-2">06:00 - 12:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-3">
                    <label for="departure-3">12:00 - 18:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-4">
                    <label for="departure-4">18:00 - 00:00</label>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <label class="label-popup d-block">Arrival Time</label>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-1">
                    <label for="arrival-1">00:00 - 06:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-2">
                    <label for="arrival-2">06:00 - 12:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-3">
                    <label for="arrival-3">12:00 - 18:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-4">
                    <label for="arrival-4">18:00 - 00:00</label>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" [popover]="popAirlane" placement="bottom" [outsideClick]="true">
              Airline
            </button>
            <ng-template #popAirlane>
              <label class="label-popup d-block">No. of Transit</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label for="direct">Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label for="1transit">1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label for="2more">2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </ng-template>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" [popover]="popMoreFilter" placement="bottom" [outsideClick]="true">
              More Filter
            </button>
            <ng-template #popMoreFilter>
              <label class="label-popup d-block">Transit Duration</label>
              <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
              <div id="range-price"></div>
              <label class="label-popup d-block">Facilities</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="baggage-check">
                <label for="baggage-check">Baggage</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="inflightmeal-check">
                <label for="inflightmeal-check">In-flight Meal</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="inflightent-check">
                <label for="inflightent-check">In-flight Entertainment</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="wifi-check">
                <label for="wifi-check">Wifi</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="power-check">
                <label for="power-check">Power / USB port</label>
              </div>
              <label class="label-popup d-block">flight preference</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Exclude overnight transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </ng-template>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" [popover]="popSort" placement="bottom" [outsideClick]="true">
              Sort by :
            </button>
            <ng-template #popSort>
              <label class="label-popup d-block">Transit Duration</label>
              <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
              <div id="range-price"></div>
              <label class="label-popup d-block">No. of Transit</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label for="direct">Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label for="1transit">1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label for="2more">2+ Transit</label>
              </div>
              <label class="label-popup d-block">Transit Point</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn" (click)="choseReturn()">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
    </div>
  </div>
