<mytours-flight-filter [isShowSearch]="isShowSearch" (showSearch)="showSearch()"></mytours-flight-filter>
<mytours-search-for-flight [isShowSearch]="isShowSearch" (showSearch)="showSearch()"></mytours-search-for-flight>
<div class="container-fluid search-result-2 pb-5 bg-white">
  <div class="container">
    <label class="main-title" (click)="openModal()">Flight List</label>
    <div class="row">
      <div #dContainer [ngClass]="currentFlight=='return' ? 'col-4' : 'col-8'">
        <mytours-flight-departure (showFlight)="showFlight($event)" [currentFlight]="currentFlight"></mytours-flight-departure>
      </div>
      <div #rContainer [ngClass]="currentFlight=='departure' ? 'col-4' : 'col-8'">
        <mytours-flight-return (showFlight)="showFlight($event)" [currentFlight]="currentFlight"></mytours-flight-return>
      </div>
    </div>
  </div>
</div>
<div class="modal fade flight-detail-modal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="dialog-static-name">
  <div class="container">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Flight Detail</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flight-list">
          <div class="main-flight">
            <div class="departure-container">
              <div class="plane-date">
                <label class="time-label">Thu, 08 May 2018</label>
                <div class="departure-city">Departure</div>
              </div>
              <div class="plane-brand">
                <img src="assets/img/citilink.png" alt="">
                <div class="departure-city">Economy</div>
              </div>
              <div class="plane-duration">
                <label class="time-label">12:30</label>
                <div class="departure-city">Jakarta</div>
              </div>
              <div class="plane-duration">
                <label class="time-label">16:20</label>
                <div class="departure-city">Bali</div>
              </div>
              <div class="plane-duration">
                <label class="duration-label">02h 0m</label>
                <div class="transit-numb">Total Duration</div>
              </div>
            </div>
            <div class="return-container">
              <div class="plane-date">
                <label class="time-label">Thu, 08 May 2018</label>
                <div class="departure-city">Departure</div>
              </div>
              <div class="plane-brand">
                <img src="assets/img/citilink.png" alt="">
                <label>Citilink</label>
              </div>
              <div class="plane-duration">
                <label class="time-label">12:30</label>
                <div class="departure-city">From: Jakarta</div>
              </div>
              <div class="plane-duration">
                <label class="time-label">12:30</label>
                <div class="departure-city">From: Jakarta</div>
              </div>
              <div class="plane-duration">
                <label class="duration-label">02h 0m</label>
                <div class="transit-numb">Total Duration</div>
              </div>
            </div>
            <div class="plane-footer">
              <div class="plane-price">
                <div class="price">Rp. 1.350.000 / Person(s)</div>
                <div class="price-note">inclusive of all taxes and surcharges</div>
              </div>
              <div class="plane-actions">
                <button class="btn book-flight">Book Flights</button>
                <ul class="btn-foot">
                  <li>
                    <a class="plane-detail-link" href="javascript:;" [ngClass]="{'active':isShowDetailPopup}" (click)="isShowDetailPopup=!isShowDetailPopup">
                      <span>View Details</span>
                    </a>
                  </li>
                  <li>
                    <a class="plane-detail-link" href="javascript:;">
                      <span>Fare Info</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flight-detail" [ngClass]="{'d-none':!isShowDetailPopup}">
            <div class="departure-container">
              <div class="plane-brand">
                <img src="assets/img/citilink.png" alt="">
                <span class="plane-model">Citilink QG - 230</span>
                <label class="plane-class">Economy</label>
              </div>
              <div class="plane-time">
                <label class="time-label">12:30</label>
                <div class="departure-city">From: Jakarta</div>
                <div class="time-label transit-step">Stepover</div>
                <label class="time-label">16:20</label>
                <div class="departure-city">To: Bali</div>
              </div>
              <div class="airport-city">
                <label class="city-label">Jakarta</label>
                <div class="city-sub-label">Soekarno Hatta Int’l</div>
                <div class="city-transit">Yogyakarta
                  <span class="transit-duratioin">( 40 m )</span>
                </div>
                <label class="city-label">Jakarta</label>
                <div class="city-sub-label">Soekarno Hatta Int’l</div>
              </div>
              <div class="plane-spec">
                <label class="spec">Boeing 737</label>
                <div class="sub-spec">Aircraft</div>
                <label class="spec">29 Inch ( std )</label>
                <div class="sub-spec">Seat pitch</div>
              </div>
              <div class="plane-spec">
                <label class="spec">7 Kg</label>
                <div class="sub-spec">Cabin baggage</div>
                <label class="spec">20 Kg</label>
                <div class="sub-spec">Baggage</div>
              </div>
            </div>
            <div class="return-container">
                <div class="plane-brand">
                  <img src="assets/img/citilink.png" alt="">
                  <span class="plane-model">Citilink QG - 230</span>
                  <label class="plane-class">Economy</label>
                </div>
                <div class="plane-time">
                  <label class="time-label">12:30</label>
                  <div class="departure-city">From: Jakarta</div>
                  <div class="time-label transit-step">Stepover</div>
                  <label class="time-label">16:20</label>
                  <div class="departure-city">To: Bali</div>
                </div>
                <div class="airport-city">
                  <label class="city-label">Jakarta</label>
                  <div class="city-sub-label">Soekarno Hatta Int’l</div>
                  <div class="city-transit">Yogyakarta
                    <span class="transit-duratioin">( 40 m )</span>
                  </div>
                  <label class="city-label">Jakarta</label>
                  <div class="city-sub-label">Soekarno Hatta Int’l</div>
                </div>
                <div class="plane-spec">
                  <label class="spec">Boeing 737</label>
                  <div class="sub-spec">Aircraft</div>
                  <label class="spec">29 Inch ( std )</label>
                  <div class="sub-spec">Seat pitch</div>
                </div>
                <div class="plane-spec">
                  <label class="spec">7 Kg</label>
                  <div class="sub-spec">Cabin baggage</div>
                  <label class="spec">20 Kg</label>
                  <div class="sub-spec">Baggage</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
