<div class="container-fluid search-result pb-5 bg-white">
  <div class="container">
    <label class="main-title">Flight</label>
    <div class="flight-destination row m-0" [ngClass]="{'cursor-pointer':currentFlight!='return'}" (click)="this.showFlight.emit('return')">
      <div class="flight-destination-detail col-9" #resultQuery [ngClass]="currentFlight=='return' ? 'col-9' : 'col-12'">
        <label class="main-label flight-destination-label">Choose Departure Flight</label>
        <div class="flight-destination-sublabel">Thu, 08 May 2018</div>
        <div class="flight-destination-sublabel">jakarta -> Bali</div>
      </div>
      <div [ngClass]="currentFlight=='return' ? 'col-3' : 'd-none'">
        <button class="btn">See other date</button>
      </div>
    </div>
    <div class="result-container" [ngClass]="{'d-none':currentFlight!='return'}" #resultContainer>
      <div class="filter-group">
        <div class="input-grp">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="otherDateBtn">
            See other date
          </button>
        </div>
        <div class="filter-group-right">
          <label class="filter-label">Filter:</label>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="transitBtn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Transit
            </button>
            <div class="dropdown-menu filter-popup" aria-labelledby="transitBtn">
              <label class="label-popup d-block">No. of Transit</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label for="direct">Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label for="1transit">1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label for="2more">2+ Transit</label>
              </div>
              <label class="label-popup d-block">Transit Duration</label>
              <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
              <div id="range"></div>
              <label class="label-popup d-block">Transit Point</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </div>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="timeBtn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Time
            </button>
            <div class="dropdown-menu filter-popup" aria-labelledby="timeBtn">
              <div class="row m-0">
                <div class="col-6">
                  <label class="label-popup d-block">Departure Time</label>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-1">
                    <label for="departure-1">00:00 - 06:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-2">
                    <label for="departure-2">06:00 - 12:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-3">
                    <label for="departure-3">12:00 - 18:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="departure-4">
                    <label for="departure-4">18:00 - 00:00</label>
                  </div>
                </div>
                <div class="col-6">
                  <label class="label-popup d-block">Arrival Time</label>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-1">
                    <label for="arrival-1">00:00 - 06:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-2">
                    <label for="arrival-2">06:00 - 12:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-3">
                    <label for="arrival-3">12:00 - 18:00</label>
                  </div>
                  <div class="checkgroup d-block">
                    <input type="checkbox" id="arrival-4">
                    <label for="arrival-4">18:00 - 00:00</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="airlaneBtn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Airline
            </button>
            <div class="dropdown-menu filter-popup" aria-labelledby="airlaneBtn">
              <label class="label-popup d-block">No. of Transit</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label for="direct">Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label for="1transit">1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label for="2more">2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </div>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="moreFilterBtn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              More Filter
            </button>
            <div class="dropdown-menu filter-popup" aria-labelledby="moreFilterBtn">
              <label class="label-popup d-block">Transit Duration</label>
              <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
              <div id="range-price"></div>
              <label class="label-popup d-block">Facilities</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="baggage-check">
                <label for="baggage-check">Baggage</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="inflightmeal-check">
                <label for="inflightmeal-check">In-flight Meal</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="inflightent-check">
                <label for="inflightent-check">In-flight Entertainment</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="wifi-check">
                <label for="wifi-check">Wifi</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="power-check">
                <label for="power-check">Power / USB port</label>
              </div>
              <label class="label-popup d-block">flight preference</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Exclude overnight transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </div>
          </div>
          <div class="input-grp">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sortFilterBtn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Sort by :
            </button>
            <div class="dropdown-menu filter-popup" aria-labelledby="sortFilterBtn">
              <label class="label-popup d-block">Transit Duration</label>
              <span class="sub-label-popup d-block">Duration of at least one transit : 0 - 11h</span>
              <div id="range-price"></div>
              <label class="label-popup d-block">No. of Transit</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label for="direct">Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label for="1transit">1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label for="2more">2+ Transit</label>
              </div>
              <label class="label-popup d-block">Transit Point</label>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="direct">
                <label>Direct</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="1transit">
                <label>1 Transit</label>
              </div>
              <div class="checkgroup d-block">
                <input type="checkbox" id="2more">
                <label>2+ Transit</label>
              </div>
            </div>
          </div>
        </div>
        <div class="seeOtherDateContainer d-none">
          <div class="other-date-list disabled">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date"></div>
          </div>
          <div class="other-date-list disabled">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date"></div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list active">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
          <div class="other-date-list">
            <div class="date">Wed, 04 Mei</div>
            <div class="price-on-date">Rp. 650.000</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn" (click) = "choseDeparture()">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
      <div class="flight-list">
        <div class="main-flight">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="plane-duration">
            <div class="duration-label">12:30</div>
            <div class="transit-numb">One Transit</div>
            <img src="assets/img/lugage.png" class="cabin-icon">
            <div class="cabin-weight">20Kg</div>
          </div>
          <div class="plane-price">
            <div class="price-ticket">Rp. 800.000</div>
            <div class="price-label">Price Flight</div>
          </div>
          <div class="plane-action">
            <button class="plane-btn btn">Choose Flights</button>
            <div class="action-more">
              <a href="#" id="flight-detail">View Detail</a>
              <a href="#" id="fare-info">View Detail</a>
            </div>
          </div>
        </div>
        <div class="flight-detail d-none">
          <div class="plane-brand">
            <img src="assets/img/citilink.png" alt="">
            <span class="plane-model">Citilink QG - 230</span>
            <label>Citilink</label>
          </div>
          <div class="plane-time">
            <label class="time-label">12:30</label>
            <div class="departure-city">From: Jakarta</div>
            <label class="time-label transit-step">Stepover</label>
            <label class="time-label">16:20</label>
            <div class="departure-city">To: Bali</div>
          </div>
          <div class="airport-city">
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
            <div class="city-transit">Yogyakarta
              <span class="transit-duratioin">( 40 m )</span>
            </div>
            <div class="city-label">Jakarta</div>
            <div class="city-sub-label">Soekarno Hatta Int’l</div>
          </div>
          <div class="plane-spec">
            <div class="spec">Boeing 737</div>
            <div class="sub-spec">Aircraft</div>
            <div class="spec">29 Inch ( std )</div>
            <div class="sub-spec">Seat pitch</div>
          </div>
          <div class="plane-spec">
            <div class="spec">7 Kg</div>
            <div class="sub-spec">Cabin baggage</div>
            <div class="spec">20 Kg</div>
            <div class="sub-spec">Baggage</div>
          </div>
        </div>
      </div>
    </div>
  </div>
