<footer class="footer py-5 footer-bg">
  <div class="container">
    <h4 class="footer-title">Get In Touch</h4>
    <div class="row row-eq-height position-relative">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="office note">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
              sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="office address">
              <img src="assets/img/building.png" alt="" class="office-icon"> Jl. KH Wahid Hasyim No.104 Jakarta Pusat 10350 - Indonesia
            </div>
            <div class="office phone">
              <img src="assets/img/contact.png" alt="" class="office-icon"> (+62-21) 2239 - 1999
              <span class="phone-hours">24 Hour Hotline</span>
            </div>
          </div>
          <div class="col-5">
            <div class="office footer-title">
              We are official member of
            </div>
            <div class="member-icon">
              <img src="assets/img/asita.png" alt="">
              <img src="assets/img/iata.png" alt="">
            </div>
          </div>
          <div class="col-auto">
            <div class="office footer-title">
              Follow us on
            </div>
            <div class="social">
              <a href="#" class='icon'>
                <img src="assets/img/fb.png" alt="">
              </a>
              <a href="#" class='icon'>
                <img src="assets/img/ig.png" alt="">
              </a>
              <a href="#" class='icon'>
                <img src="assets/img/youtube.png" alt="">
              </a>
              <a href="#" class='icon'>
                <img src="assets/img/gplus.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-5">
            <div class="office footer-title">
              Booking easier, Download the app on your smartphone
            </div>
            <div class="app">
              <a href="#" class='icon'>
                <img src="assets/img/playstore.png" alt="">
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="contact-form col-6">
        <div class="contact-card">
          <form action="#">
            <h3>Say Something</h3>
            <input type="form-control" name="name" placeholder="Your Name">
            <input type="form-control" name="email" placeholder="Your email">
            <textarea type="form-control" name="message" placeholder="Message"></textarea>
            <button class="btn btn-light" type="button">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
