<div class="container-fluid search-container search-result pt-4 pb-5 bg-white" [ngClass]="isShowSearch ? 'd-block' : 'd-none'">
  <div class="container">
    <div class="search">
      <div class="search-body">
        <div class=" row row-eq-height">
          <div class="filter col-8 pl-0">
            <div class="filter-item p-4">
              <label class="main-label">Destination Detail</label>
              <div class="row">
                <div class="input-group col pr-0">
                  <img class="input-group-text p-0" src="assets/img/travel-up.png">
                  <div class="form-search">
                    <input type="text" placeholder="Travel form" class="form-control" id="travel-up">
                  </div>
                </div>
                <div class="col-2 text-center">
                  <button class="exchange btn btn-light" type="button">
                    <img class="col" src="assets/img/exchange.png">
                  </button>
                </div>
                <div class="input-group col pr-0">
                  <img class="input-group-text p-0" src="assets/img/travel-down.png">
                  <div class="form-search">
                    <input type="text" placeholder="Travel to" class="form-control" id="travel-down">
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-item pt-2 px-4">
              <div class="row">
                <div class="input-group col pr-0">
                  <label class="main-label">Departure</label>
                  <img class="input-group-text p-0" src="assets/img/calendar.png">
                  <div class="form-search">
                    <input type="text" placeholder="Departure" id="departure" class="form-control">
                  </div>
                </div>
                <div class="col-2  text-center">
                </div>
                <div class="input-group col pr-0">
                  <input type="checkbox" name="departure-check" id="departure-check" value="yes">
                  <label class="main-label" for="departure-check">
                    <span>Return</span>
                  </label>
                  <img class="input-group-text p-0" src="assets/img/calendar.png">
                  <div class="form-search">
                    <input type="text" placeholder="Return" id="return" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="passenger col-4 p-0">
            <div class="filter-item p-4">
              <label class="main-label">Passenger Details</label>
              <div class="row">
                <div class="input-group col">
                  <img class="input-group-text p-0" src="assets/img/adult.png">
                  <div class="form-search">
                    <input type="text" value="1 Adult" class="form-control" id="pessenger-field" readonly>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="input-group col">
                  <img class="input-group-text p-0" src="assets/img/class.png">
                  <div class="form-search">
                    <input type="text" placeholder="Economy" class="form-control" id="flight-field" readonly>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="input-group col">
                  <button class="btn search-btn">
                    Search Flights
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" id="daterangefield">
            <input type="text" id="travel-date" class="hidden">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
