<nav class="navbar fixed-top navbar-expand-md navbar-dark" [ngClass]="{'nav-bg':isNavbarWhite}" >
  <div class="container">
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#" [routerLink]="['/']">
        <img src="assets/img/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/flight-1">Search Result 1 Way</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/">Search Result 2 Way</a>
        </li>
        <li class="nav-devider">
        </li>
        <li class="nav-item nav-btn-group">
          <button class="btn btn-outline-light my-sm-0" type="button" id="login-btn">Login</button>
          <button class="btn btn-outline-light my-sm-0" type="button" id="signup-btn">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
