<div class="container-fluid head-search pb-5">
  <div class="container">
    <div class="flight-search">
      <div class="airport-search">
        <div class="airport-name">Bandung ( Husein Sastranegara )</div>
        <img src="assets/img/arrow-right.png" alt="To">
        <div class="airport-name">Bali ( Ngurah Rai )</div>
      </div>
      <div class="airport-search-date">
        <span>Fri, 04 Mei 2018 - Sun, 06 Mei 2018</span>
      </div>
      <div class="airport-search-pessenger-date">
        <span>1 Adult, 1 Child
          <span class="separator">|</span>Economy</span>
      </div>
      <button class="btn btn-search" (click)="this.showSearch.emit();" >Change Search</button>
    </div>
  </div>
</div>