main * {
  font-family: 'Roboto';
}

.cursor-pointer {
  &:hover,
  *:hover {
    cursor: pointer;
  }
}

.main-bg {
  background-color: #C81041;
}

.navbar {
  padding-top: 0;
  background-color: transparent;
  &.nav-bg {
    background-color: #fff;
    padding-bottom: 0;
    border-bottom: 0.25rem solid #EB2227;
    .navbar-nav {
      #login-btn {
        color: #ec3237;
        border-color: #ec3237;
      }
      #signup-btn {
        color: #fff;
        background-color: #ec3237;
        border-color: #ec3237;
      }
      .nav-link {
        color: black;
      }
    }
  }
  .navbar-brand {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    img {
      width: 200px;
    }
  }
}

.navbar-dark .navbar-nav {
  .nav-link {
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .nav-item button {
    &:hover {
      color: #fff;
      background-color: transparent;
    }
    font-weight: 500;
    padding: 2px 10px;
    letter-spacing: 0px;
    font-size: 16px;
    margin: 0.5rem 1rem;
    font-family: 'Roboto';
    font-weight: bold;
    &:last-child {
      color: #C81041;
      background-color: white;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

.nav-devider:after {
  border-right: 2px solid #FFF;
  content: "";
  position: relative;
  right: 0;
  top: 10%;
  height: 85%;
  display: block;
  margin: 0rem 1rem;
}

.nav-item.nav-btn-group {
  line-height: 37px;
  button {
    &:last-child {
      margin-right: 0;
    }
    margin-left: 0.5rem;
  }
}

.home-slider {
  .home-slider-item {
    border-radius: 10px;
    background-color: white;
    margin: 0 10px;
    padding: 30px 20px;
    width: 200px;
    .title {
      font-size: 24px;
      color: #EC3237;
      margin-bottom: 20px;
      font-family: "Signika";
      font-weight: bold;
    }
    .desc {
      font-size: 14px;
      font-family: "Roboto";
      font-weight: normal;
    }
    >a {
      font-size: 18px;
      font-weight: 500;
      padding-left: 20px;
      color: #EC3237;
    }
  }
  .slick-list:after {
    content: "";
    background: linear-gradient(to right, #c81041, rgba(200, 16, 65, 0.5), rgba(200, 16, 65, 0.25), transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, rgba(200, 16, 65, 0.25), rgba(200, 16, 65, 0.5), #c81041);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slick-arrow-btn {
  font-size: 24px;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 4px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 3;
  color: #C81041;
  background-color: white;
  border-radius: 50%;
}

.slick-prev-btn {
  left: -15px;
  padding-left: 8px;
}

.instagram .slick-prev-btn {
  left: -30px;
}

.slick-next-btn {
  right: -15px;
  padding-left: 10px;
}

.instagram .slick-next-btn {
  right: -30px;
}

.search-bg {
  background-color: white;
  position: relative;
  height: 100vh;
  &::before {
    background-color: #C81041;
    background-image: url(/assets/img/home-bg.png);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 90%;
    width: 100%;
    left: 0;
    margin-top: -3rem;
    background-position: 0;
  }
}

.search-container {
  height: 100vh;
  .search-video {
    width: 100%;
    position: absolute;
    left: 0px;
    height: 100vh;
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .search-label {
    height: 50%;
    display: block;
    padding-top: 15%;
    h1 {
      text-align: center;
      color: white;
      font-family: 'Signika';
      font-size: 44px;
    }
  }
  .search-body {
    height: 50%;
    display: block;
    position: relative;
    z-index: 9;
  }
}

.search {
  height: 100vh;
  .search-body>.row {
    margin-right: 0;
    margin-left: 0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 3001;
  }
}

.search-container.search-result .search-body>.row {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
}

.package-bg {
  background-color: #C81041;
  position: relative;
  &::before {
    background-color: white;
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 38%;
    width: 100%;
    left: 0;
  }
}

.gallery-bg {
  background-color: white;
  position: relative;
  &::before {
    background-color: #F4F4F4;
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 15%;
    width: 100%;
    left: 0;
  }
}

.partner-bg {
  background-color: #F4F4F4;
}

.instagram-bg {
  background-color: white;
  position: relative;
  &::before {
    background-color: #C81041;
    content: "";
    position: absolute;
    bottom: 20%;
    display: block;
    height: 35%;
    width: 100%;
    left: 0;
  }
}

.footer-bg {
  background-color: white;
  position: relative;
  &::before {
    background-color: #C81041;
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 36%;
    width: 100%;
    left: 0;
  }
}

.search {
  .nav-tabs {
    border: 0;
  }
  .nav-item {
    margin-bottom: 0;
    a {
      font-family: 'Roboto';
      font-weight: normal;
      color: #464646;
      background-color: rgba(255, 255, 255, 0.8) !important;
      border-radius: 0;
      font-size: 20px;
      padding: 20px 30px;
      border: 0;
      border-bottom: 4px solid transparent;
      border-right: 1px dashed #BCBCBC !important;
      &.active {
        font-weight: bold;
        border-bottom: 4px solid #EC3237 !important;
        color: black;
      }
      &:hover {
        color: black;
        border-color: transparent;
      }
    }
  }
  .filter {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .main-label {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    width: 100%;
  }
  .filter-item {
    .input-group {
      .input-group-text {
        background: none;
        border: 0;
        border-radius: 0;
        margin-right: auto;
      }
      input {
        border: 0;
        border-bottom: 1px solid #ACACAC;
        margin-left: 1.5rem;
        border-radius: 0;
        font-family: 'Roboto';
        font-weight: normal;
        color: black;
        padding-left: 0;
        margin-left: 0;
        background-color: transparent;
      }
      .form-search {
        display: inline-block;
        width: 80%;
        input {
          background-color: transparent;
        }
        label {
          display: block;
          width: 100%;
          font-family: 'Roboto';
          font-size: 12px;
          color: #ACACAC;
          margin-top: .5rem;
        }
      }
      input[type="checkbox"] {
        display: none;
      }
    }
    input:focus {
      border-color: #C81041;
    }
    .input-group {
      label[for="departure-check"] {
        background-image: url(/assets/img/no-check.png);
        background-repeat: no-repeat;
        background-position-y: 2px;
      }
      input[type="checkbox"]:checked~label[for="departure-check"] {
        background-image: url(/assets/img/check.png);
      }
      label[for="departure-check"] {
        span {
          padding-left: 25px;
        }
        ~ {
          .form-search,
          img.input-group-text {
            display: none;
          }
        }
      }
      input[type="checkbox"]:checked~ {
        .form-search,
        img.input-group-text {
          display: block;
        }
      }
      label span {
        display: inline-block;
        vertical-align: bottom;
      }
      .input-group-text {
        display: inline-block;
        height: 30px;
      }
      input {
        &:focus {
          box-shadow: none;
          outline: none;
        }
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          font-family: 'Roboto';
          color: #ACACAC;
          font-weight: normal;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          font-family: 'Roboto';
          font-weight: normal;
          color: #ACACAC;
        }
        &::-ms-input-placeholder {
          /* Microsoft Edge */
          font-family: 'Roboto';
          font-weight: normal;
          color: #ACACAC;
        }
      }
    }
    .exchange {
      border-radius: 20px;
      padding-top: 0;
      border: 2px solid #ec3237;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
      img {
        width: 50px;
      }
    }
  }
  .passenger {
    background-color: rgba(255, 255, 255, 0.8);
    .search-btn {
      width: 100%;
      padding: 20px;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 18px;
      border-radius: 15px;
      color: white;
      background-color: #EC3237;
    }
  }
}

.package {
  padding-top: 4rem;
  .package-title {
    font-family: 'Signika';
    font-size: 62px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 60px;
    color: #464646;
  }
}

.gallery .gallery-title,
.instagram-title,
.footer-title {
  font-family: 'Signika';
  font-size: 62px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 60px;
  color: #464646;
}

.package {
  .package-desc {
    font-family: 'Roboto';
    line-height: 1;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
  }
  .package-btn {
    width: 100%;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    color: #EC3237;
    padding: 14px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .package-item {
    display: flex;
    position: relative;
  }
  .package-detail {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
    padding: 20px;
    .detail-img {
      margin-bottom: 20px;
    }
    * {
      color: white;
      font-family: 'Roboto';
      font-size: 24px;
    }
  }
  .package-img {
    width: 100%;
    height: 418px;
    object-fit: cover;
    object-position: center;
  }
  .package-name {
    font-family: 'Signika';
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
  }
  .package-duration {
    font-weight: normal;
    font-size: 16px;
  }
  .currency {
    font-weight: normal;
  }
  .package-price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
  }
  .package-link {
    display: block;
    font-weight: normal;
  }
}

.feature-slider {
  .slick-list {
    padding-left: 122px !important;
  }
  .feature-container {
    &:first-child {
      margin-left: 0px;
    }
    background-color: white;
    border: 1px solid #D31145;
    margin: 20px;
    padding: 10px 30px 30px 30px;
    .image {
      width: 100%;
      img {
        margin: 10px auto;
        padding: 19px;
        border-radius: 50%;
        box-shadow: 0px 10px 10px #E9E9E9;
        width: 106px;
        object-fit: scale-down;
      }
    }
    .title {
      text-align: center;
      padding: 25px 0 15px 0;
      h5 {
        font-family: 'Signika';
        font-weight: bold;
      }
      text-align: center;
      font-family: 'Signika';
    }
    .desc {
      text-align: center;
      font-family: 'Roboto';
      font-size: 16px;
      color: #ACACAC;
    }
  }
}

.main-title {
  font-family: 'Signika';
  font-weight: bold;
  text-align: center;
  font-size: 62px;
  display: block;
  padding-top: 20px;
}

.search-result .main-title {
  font-size: 42px;
  text-align: left;
}

.sub-title {
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  display: block;
  margin-bottom: 50px;
}

.gallery-link {
  font-family: 'Roboto';
  color: #464646;
  font-size: 16px;
  &:hover {
    text-decoration: none;
    color: #C81041;
  }
}

.gallery-item {
  position: relative;
  .gallery-detail * {
    color: white;
    font-family: 'Roboto';
    font-size: 24px;
  }
  .gallery-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &.big .gallery-img {
    height: 600px;
  }
  &.small .gallery-img,
  &.wide .gallery-img {
    height: 285px;
  }
  .gallery-name {
    font-family: 'Signika';
    line-height: 1;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    width: 70%;
  }
  &.big .gallery-name,
  &.wide .gallery-name {
    font-size: 46px;
  }
  &.small .gallery-name {
    font-size: 23px;
  }
  .gallery-icon {
    width: 60px;
    margin-bottom: 20px;
  }
  .gallery-desc {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    display: block;
    width: 70%;
  }
  .gallery-detail {
    position: absolute;
    height: 50%;
    bottom: 0px;
    left: 0px;
    font-weight: bold;
    display: table;
    padding: 0 20px 20px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  }
}

[class^="col-"] {
  .row {
    padding: 15px 0;
  }
  >.row {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.partner img {
  padding: 5px;
}

.instagram .instagram-feed {
  background-color: white;
  padding: 15px;
  margin: 0 10px 20px 10px;
  box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.15);
  * {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
  }
  .caption span {
    font-family: 'Roboto';
    font-weight: bold;
    color: #464646;
  }
  .image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    img {
      height: 245px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  >div {
    display: flex;
  }
  .seen,
  .like {
    display: block;
    padding-left: 5px;
  }
  .seen img,
  .like img {
    display: inline-block;
  }
  .seen img {
    width: 25px;
  }
  .like img {
    width: 17px;
  }
}

.footer {
  .office-icon {
    width: 25px;
    margin-right: 20px;
  }
  .office {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 25px;
    color: white;
    &.note,
    &.address {
      color: #464646;
    }
    &.phone {
      color: #464646;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 75px;
      .phone-hours {
        display: block;
        padding-left: 45px;
        font-size: 16px;
        font-style: italic;
        margin-top: 8px;
      }
    }
  }
  .footer-title {
    margin-bottom: 15px;
  }
  .member-icon img {
    width: 55px;
    margin-right: 25px;
  }
  .social a {
    margin-right: 30px;
  }
  .member-icon {
    margin-bottom: 25px;
  }
  .social {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .app .icon img {
    width: 130px;
  }
  .contact-form {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 50px 75px 50px;
    height: 100%;
  }
  .contact-card {
    background-color: white;
    height: 100%;
    padding: 20px 30px 50px 30px;
    box-shadow: 0px 25px 25px 5px rgba(0, 0, 0, 0.15);
    form {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
    h3 {
      font-family: 'Signika';
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 30px;
    }
    input {
      border: 1px solid #EC3237;
      width: 100%;
      padding: 6px 10px;
      margin-bottom: 30px;
    }
    textarea {
      border: 1px solid #EC3237;
      width: 100%;
      padding: 6px 10px;
      margin-bottom: 30px;
      height: auto;
      flex: 1 1 auto;
    }
    button {
      background-color: #EC3237;
      border-radius: 10px;
      padding: 13px;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: bold;
      color: white;
    }
  }
}

#travel-date {
  width: 100%;
  opacity: 0;
}

.daterangecontainer {
  padding: 30px;
  box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.15);
  z-index: 11 !important;
}

#daterangefield {
  display: block;
  position: absolute;
  bottom: 108px;
  left: 0;
  padding: 0 20%;
  z-index: -2;
}

.daterangecontainer {
  &.departure-field {
    &::before {
      top: -30px;
      left: -415px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid #ccc;
    }
    &::after {
      top: -29px;
      left: -415px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid white;
    }
  }
  &.return-field {
    &::before {
      top: -30px;
      left: 320px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid #ccc;
    }
    &::after {
      top: -29px;
      left: 320px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid white;
    }
  }
  .daterangelabel {
    padding: 0 0 30px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 21px !important;
    border-bottom: 1px solid #ec3237;
  }
}

.date-home {
  * {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px !important;
  }
  &.daterangepicker {
    margin-top: 30px;
    border-radius: 0;
    td {
      &.start-date {
        &.end-date {
          border-radius: 10px;
        }
        border-radius: 10px 0 0 10px;
      }
      &.end-date {
        border-radius: 0 10px 10px 0;
      }
    }
    .drp-calendar {
      max-width: none;
      padding: 0;
      &.left .calendar-table {
        padding-right: 76px !important;
        position: relative;
        padding-left: 45px;
        &::after {
          content: "";
          display: block;
          border-right: 1px dashed #cecece;
          float: right;
          height: 200px;
          width: 0;
          position: absolute;
          right: 0;
          top: 20px;
        }
      }
      &.right .calendar-table {
        padding-left: 76px !important;
        padding-right: 45px;
      }
      .calendar-table {
        padding-top: 25px;
      }
      table {
        td {
          padding: 10px;
          font-weight: 400;
        }
        th {
          padding: 10px;
          font-weight: 400;
          &.month {
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
    .table-condensed thead tr:nth-child(2) th {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 25px;
        border-bottom: 2px solid black;
        bottom: 10px;
        left: 10px;
      }
    }
    .today {
      position: relative;
      width: 46px;
      height: 45px;
      display: block;
      margin-top: -1px;
      &:after {
        content: "";
        position: absolute;
        width: 23px;
        border-bottom: 2px solid #ec3237;
        bottom: 4px;
        left: 10px;
      }
    }
    td {
      &.active {
        background-color: #d31145 !important;
        color: white;
      }
      &.in-range {
        background-color: rgba(211, 17, 69, 0.25);
      }
    }
  }
}

.airportcontainer {
  position: absolute;
  width: 100%;
  z-index: 11 !important;
  display: none;
  .airport {
    background-color: white;
    width: 599px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    position: relative;
    border: 1px solid #ddd;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -30px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid #ccc;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -29px;
      border-right: 30px solid transparent;
      border-left: 30px solid transparent;
      border-bottom: 30px solid white;
    }
    &.travel-up-field {
      &::before,
      &::after {
        left: 200px;
      }
    }
    &.travel-down-field {
      &::before,
      &::after {
        right: 250px;
      }
    }
  }
  * {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
  }
  .airport-label {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ec3237;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .row {
    padding: 0px 80px;
  }
  .airport-sublabel {
    font-weight: bold;
    width: 100%;
    padding-bottom: 30px;
  }
  .row {
    a {
      display: block;
      color: #acacac;
      width: 100%;
      padding: 5px 0;
      &:hover {
        cursor: pointer;
      }
    }
    [class^="col"] {
      border-left: 1px dashed #cecece;
      border-right: 1px dashed #cecece;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-of-type {
        padding-left: 0px;
        border: 0;
        justify-content: flex-start;
        align-items: baseline;
      }
      &:last-of-type {
        padding-right: 0px;
        border: 0;
        justify-content: flex-end;
        align-items: baseline;
      }
    }
  }
  .airport-country {
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
  }
  .airport-list {
    min-width: 120px;
    display: inline-block;
  }
}

.overlay-popup * {
  z-index: 0;
}

.search-container.search-result {
  .search {
    height: auto;
  }
  height: auto;
}

.overlay-popup .search .search:after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.passengercontainer *,
.flightcontainer * {
  font-family: 'Roboto';
  font-weight: 400;
}

.passengercontainer,
.flightcontainer {
  position: absolute;
  z-index: 11 !important;
  display: none;
}

.logincontainer,
.signupcontainer {
  position: fixed;
  z-index: 11 !important;
  display: none;
}

.passenger-popup,
.flight-popup,
.login-popup,
.signup-popup {
  box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  background-color: white;
  padding: 30px;
  margin-top: 40px;
  position: relative;
}

.login-popup,
.signup-popup {
  margin-top: 15px;
}

.passenger-popup::before,
.flight-popup::before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 120px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #ccc;
}

.passenger-popup::after,
.flight-popup::after {
  content: "";
  display: block;
  position: absolute;
  top: -29px;
  left: 120px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 30px solid white;
}

.popup-label {
  padding: 0 0 30px;
  font-weight: bold;
  font-size: 21px !important;
  border-bottom: 1px solid #ec3237;
  margin-bottom: 30px;
  width: 240px;
}

.popup-sublabel {
  width: 100%;
  display: block;
  font-weight: bold;
}

.popup-sublabel-sm {
  width: 100%;
  display: block;
  font-size: 12px;
}

.popup-sm {
  .input-group {
    width: 240px;
    padding: 10px 0;
  }
  .signup-popup {
    .signup-note {
      width: 323px;
      font-size: 12px;
    }
    .signup-term {
      width: 323px;
      font-size: 12px;
      padding: 15px 40px;
      text-align: center;
    }
  }
  .navbar-popup .popup-label {
    width: 323px;
    border-bottom: 0;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-bottom: 0;
    text-align: center;
  }
  .signup-popup .popup-label {
    width: 323px;
    border-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  .navbar-form {
    a {
      width: 323px;
      text-align: right;
      display: block;
      color: black;
      &.register-link {
        text-align: center;
      }
      &.login-link {
        text-align: center;
        margin-bottom: 10px;
      }
    }
    button,
    a.btn {
      width: 323px;
      border-radius: 10px;
      box-shadow: 0px 16px 27px 0 rgba(0, 0, 0, 0.25);
      padding: 18px;
      font-family: 'Roboto';
      font-weight: bold;
      color: white;
      background-color: #ec3237;
      border: solid 1px #ec3237;
      margin-top: 20px;
      margin-bottom: 35px;
    }
    button {
      &.login-btn {
        background-color: #ec3237;
      }
      &.signup-btn {
        margin-top: 10px;
        background-color: #fff;
        color: #ec3237;
        text-align: center;
      }
    }
    a.soc-btn {
      margin-top: 10px;
      background-color: #fff;
      color: #ec3237;
      text-align: center;
      box-shadow: none;
      margin: 3px 0;
      color: #464646;
      font-size: 12px;
    }
    .input-group {
      width: 323px;
      input {
        width: 100%;
        padding: 9px;
        text-align: left;
        font-weight: normal;
      }
    }
  }
  .input-group {
    input {
      border: 1px solid #ec3237;
      font-weight: bold;
      text-align: center;
    }
    .input-group-text {
      border: 1px solid #ec3237;
      background-color: white;
      width: 60px;
      text-align: center;
      display: block;
      font-weight: bold;
      border-radius: 10px;
    }
    .input-group-prepend>.input-group-text {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .input-group-append>.input-group-text {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .input-group-text:hover {
      cursor: pointer;
    }
  }
  .passenger-popup>button {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 0 0;
    background-color: #ec3237;
    color: white;
  }
  button:hover {
    border-color: #ec3237;
  }
  *:focus {
    outline: none !important;
    box-shadow: none;
  }
  .popup-link {
    color: black;
    display: block;
    min-width: 240px;
    padding: 10px 0;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
    &.chosed,
    &:hover {
      color: #ec3237;
    }
    &:focus {
      color: #ec3237;
      text-decoration: underline;
    }
    &:hover~.popup-link {
      color: black !important;
    }
  }
}

.search-result-2 {
  .search-result {
    .flight-destination {
      display: flex;
    }
  }
  .flight-list {
    .main-flight {
      flex-flow: column wrap;
      .plane-duration {
        display: table;
        width: 50%;
      }
      .plane-time,
      .plane-duration {
        display: inline-block;
        width: 25%;
      }
      .plane-duration {
        width: 35%;        
      }
      .plane-price,
      .plane-action {
        display: inline-flex;
        width: 40%;
      }
      .plane-price {
        margin-top: -61px;
        margin-right: -20%;
        vertical-align: top;
        height: 61px;
        padding-top: 10px;
        .price-ticket {
          width: 100%;
          text-align: center;
        }
      }
      .plane-action {
        margin-left: -20%;
        vertical-align: bottom;
        height: 124px;
      }
    }
    .price-label {
      display: none;
    }
    .main-flight {
      display: block;
    }
  }
  .head-search,
  #otherDateBtn {
    display: none;
  }
  .main-title {
    font-size: 41px;
    text-align: left;
  }
  .filter-group-right {
    width: 100%;
    & > div:last-of-type {
      float: right;
    }
  }
  >.container>.row>[class^="col"] {
    padding-top: 5px;
    .container-fluid,
    .container {
      padding: 0
    }
    .main-title {
      display: none;
    }
  }
}

.head-search {
  padding-top: 150px;
  background-image: url(/assets/img/plane.jpg);
  background-size: cover;
  background-position-y: -235px;
  .flight-search {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    width: 100%;
    position: relative;
    .airport-search {
      width: calc(100% - 170px);
    }
    * {
      display: inline-block;
      font-family: 'Roboto';
    }
    .airport-name {
      font-family: 'Roboto';
      font-weight: bold;
      color: black;
      font-size: 20px;
    }
  }
}

.flight-list>div {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.head-search {
  .flight-search img {
    margin: 0 10px;
  }
  .airport-search-date span {
    margin-left: 0;
  }
  span {
    margin: 0 10px;
  }
  .btn-search {
    width: 170px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    background-color: #ec3237;
    color: white;
    font-weight: bold;
  }
}

.search-result {
  .flight-destination {
    display: none;
    background-color: #ec3237;
    margin-bottom: 20px !important;
    * {
      color: #fff;
      font-family: 'Roboto';
      font-size: 16px;
    }
    .flight-destination-detail {
      >div {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .flight-destination-label {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .col-3 {
      align-self: center;
    }
    button {
      border: 1px solid #fff;
      background-color: transparent;
      text-align: center;
    }
  }
  .filter-group {
    padding-bottom: 20px;
    border-bottom: 1px solid #acacac;
    display: inline-block;
    width: 100%;
    button.dropdown-toggle {
      background-color: transparent;
      border: 1px solid #464646;
      color: #464646;
      margin: 0 5px;
      &:active,
      &[aria-expanded="true"] {
        background-color: #464646;
        color: white;
      }
      &#transitBtn {
        margin: 0 5px 0 10px
      }
      &#sortFilterBtn {
        margin: 0 0 0 15px
      }
    }
    .filter-group-right {
      button.dropdown-toggle {
        border: 1px solid #ec3237;
        color: #ec3237;
      }
      color: #ec3237;
      display: inline;
      float: right;
    }
    .input-grp {
      display: inline-block;
    }
    .filter-group-right button.dropdown-toggle {
      &:active,
      &[aria-expanded="true"] {
        background-color: #ec3237;
        color: white;
      }
    }
    .popover-content {
      width: 100%;
      padding: 0;
      label:first-of-type {
        padding-top: 0;
      }
      .label-popup {
        padding: 12px 0;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        color: #464646;
        text-transform: uppercase;
        border-bottom: 1px solid #ec3237;
      }
      .sub-label-popup {
        font-family: 'Roboto';
        font-size: 11px;
        color: #464646;
        text-transform: uppercase;
      }
      .checkgroup {
        position: relative;
        label {
          padding-left: 35px;
          &:before {
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: 0px;
            top: 2px;
            border: 2px solid #acacac;
            content: " ";
          }
        }
        input {
          &:checked~label:after {
            font-size: 18px;
            position: absolute;
            left: 5px;
            top: -2px;
            font-family: "Roboto";
            font-weight: bold;
            content: "L";
            color: #ec3237;
            transform: rotate(45deg) scaleX(-1);
          }
          &[type='checkbox'] {
            width: 100%;
            height: 32px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
          }
        }
      }
    }
  }
  .flight-list {
    width: 100%;
    display: block;
    margin-top: 30px;
    border: 1px solid #acacac;
    padding: 24px 30px;
  }
  .flight-detail {
    padding-top: 40px;
  }
  .plane-brand label {
    color: #acacac;
    margin-bottom: 0;
    padding-top: 0;
  }
  .flight-list>* {
    font-family: 'Robot';
    color: black;
  }
}

.time-label,
.duration-label,
.price-ticket,
.city-label,
.plane-spec .spec {
  font-weight: bold;
  font-size: 25px;
}

.departure-city,
.transit-numb,
.cabin-weight,
.price-label,
.plane-time .time-label.transit-step,
.airport-city .city-transit,
.city-sub-label,
.sub-spec {
  color: #acacac;
  font-size: 17px;
  font-weight: normal;
}

.plane-time .time-label.transit-step,
.airport-city .city-transit {
  margin: 30px 0;
}

.plane-time .time-label.transit-step::before {
  top: 6px;
  border: 0;
  left: -26px;
  width: 12px;
  height: 12px;
}

.search-result .plane-brand {
  width: 15%;
}

.plane-time {
  padding-left: 40px;
  position: relative;
  &:before {
    content: " ";
    width: 2px;
    height: calc(100% - 60px);
    position: absolute;
    left: 19px;
    top: 20px;
    background-color: #acacac;
  }
  .time-label {
    position: relative;
    margin: 0;
    width: 100%;
    &::before {
      content: " ";
      width: 18px;
      height: 18px;
      position: absolute;
      left: -29px;
      top: 7px;
      border: 3px solid white;
      background-color: #acacac;
      border-radius: 50%;
    }
  }
  label:last-of-type:before {
    background-color: #ec3237;
  }
}

.price-ticket {
  color: #ec3237;
}

.search-result {
  .plane-time,
  .plane-duration {
    width: 20%;
  }
}

.airport-city,
.search-result .plane-price,
.plane-spec {
  width: 20%;
}

.search-result .flight-list>div>div:last-of-type {
  width: 25%;
}

.plane-action {
  .plane-btn {
    width: 100%;
    background-color: #ec3237;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
  }
  display: flex;
  flex-direction: column;
  .action-more {
    flex: 1;
    display: inline-flex;
    align-items: flex-end;
    a {
      width: 50%;
      text-align: center;
      color: black;
      &:first-of-type {
        border-right: 1px solid #ec3237;
        margin-right: -1px;
      }
      &::last-of-type {
        border-left: 1px solid #ec3237;
        margin-left: -1px;
      }
    }
  }
}

.cabin-icon {
  width: 26px;
  padding: 7px 0;
}

.plane-brand * {
  display: block;
  padding: 6px 0;
}

.plane-spec {
  .sub-spec {
    margin-bottom: 85px;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.search-result .seeOtherDateContainer {
  display: flex;
  margin-bottom: 20px;
  .slick-slider {
    width: calc( 100% - 96px);
    display: inline-block;
    margin-left: -1px;
    .other-date-list {
      height: 98px;
      margin-left: -1px;
      width: 146px;
      padding: 26px 5px;
      text-align: center;
      .price-on-date {
        line-height: 34px;
        font-weight: bold;
        /* color: #ec3237; */
        color: #acacac;
      }
      &.active {
        -webkit-box-shadow: inset 0px 0px 0px 2px #ec3237;
        -moz-box-shadow: inset 0px 0px 0px 2px #ec3237;
        box-shadow: inset 0px 0px 0px 2px #ec3237;
        * {
          color: #ec3237;
        }
      }
    }
  }
  .slick-arrow {
    width: 48px;
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    height: 98px;
    top: 0;
    border-radius: 0;
    -webkit-transform: none;
    transform: none;
    padding: 0;
    background-color: #ebebeb;
    .ng-fa-icon {
      align-self: center;
      width: 100%;
      text-align: center;
      color: #acacac;
    }
    border: 1px solid #acacac;
  }
  .slick-list .other-date-list {
    border: 1px solid #acacac;
  }
}

.popover {
  width: 300px;
  padding: 30px;
  max-width: none;
  &[aria-labelledby="timeBtn"] {
    width: 538px;
  }
}
#timeBtn {
  ~ .popover {
    width: 450px;
  }
}
.flight-detail-modal {
  & * {
    font-family: 'Roboto';
  }
  .container {
    padding: 0 22px 0 6px;
    margin-top: 100px;
    margin-bottom: 20px;
    .modal-content{
      border-radius: 0;
      .modal-header {
        border: 0;
        padding: 30px 50px 10px;
        .modal-title {
          font-family: 'Signika';
        }
      }
      .modal-body {
        padding: 0;
      }
      .flight-list {
        .main-flight, .flight-detail{
          flex-flow: column;
          & > div {
            display: flex;
            padding: 30px 50px;
            border-bottom: 1px solid #ACACAC;
            & > div {
              width: calc(25% - 27px);
              &.plane-spec {
                width: 12.5% !important;
              }
              &:last-of-type {
                width: 108px;
              }
            }
            &:nth-last-child(2), &:last-child {
              border: 0;
            }
          }
          .plane-class {
            color: #acacac;
          }
          .plane-footer {
            padding-bottom: 0;
              .plane-price {
                width: calc(100% - 300px);
              .price {
                font-size: 25px;
                font-weight: bold;
                color: #ec3237
              }
              .price-note {
                font-size: 16px;
                color: #acacac;
              }
            }
            .plane-actions {
              width: 300px;
              button {
                width: 100%;
                padding: 18px;
                background-color: #ec3237;
                border-radius: 10px;
                font-size: 16px;
                font-weight: bold;
                color: white;
              }
              .btn-foot {
                padding: 0;
                margin: 0;
                text-align: center;
                li {
                  padding: 28px 0;
                  display: inline-block;
                  margin-left: -1px;
                  &:first-child {
                    margin-left: 0;
                  }
                  &:last-child {
                    border-left: 0;
                    a {
                      span {
                        border-right: 0;
                      }
                    }
                  }
                  a {
                    font-size: 16px;
                    border-bottom: 3px solid transparent;
                    padding-bottom: 28px;
                    span {
                      padding: 3px 21px;
                      border-right: 1px solid #ec3237;
                    }
                    text-decoration: none;
                    color: black;
                    &.active {
                      border-bottom: 3px solid #ec3237;
                    }
                  }
                }
              }
            }
          }
        }
        label {
          font-size: 20px;
          margin-bottom: 8px;
        }
        .flight-detail {
          background-color: #f6f6f6;
          .departure-container {
            -moz-box-shadow:    inset 0 7px 37px -11px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: inset 0 7px 37px -11px rgba(0, 0, 0, 0.15);
            box-shadow:         inset 0 7px 37px -11px rgba(0, 0, 0, 0.15);
          }
          .plane-time .time-label::before {
            border-color: #f6f6f6
          }
        }
      }
    }
  }
}
