<body class="main-bg">
    <mytours-mytours-header></mytours-mytours-header>
    <main role="main">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </main>
    <mytours-mytours-footer></mytours-mytours-footer>
</body>